@model projetmvcfinale.Models.ExerciceVM

<div>
    <h4>ExerciceVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomExercices)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomExercices)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeExercice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeExercice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDifficulte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDifficulte)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCateg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCateg)
        </dd>
    </dl>
</div>

@if (ViewBag.Type == "Interactif")
{
    <div id="divElementCompetence">
        <partial name="_ExerciceInteractif" model="ViewBag.CreerAnalyse" />
    </div>
}

else if (ViewBag.Type == "Normal")
{
    <div id="divElementCompetence">
        <partial name="_UploadExercice" model="ViewBag.CreerAnalyse" />
    </div>
}

@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/Exercice2.js"></script>
}