@model IEnumerable<projetmvcfinale.Models.Exercice>

@{
    ViewData["Title"] = "ListeExercice";
}

<h2>Liste des exercices</h2>
<p>
    <a asp-action="AjoutExercice" class="btn btn-info">Ajouter un exercice</a><br />
</p>
<p>
    <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal" >Associer à un document</button>
</p>
@if(ViewBag.pdf_Word == "Avertissement")
{
<p style="color:red;">Échec du téléchargement du lien du document @ViewBag.Nom , car seul les document pdf et word sont accepté</p>
}
<table class="table table-responsive table-hover table-condensed" id="myTable">
 
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomExercices)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeExercice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdresseCourrielNavigation.AdresseCourriel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdCategNavigation.NomCategorie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdDifficulteNavigation.NiveauDifficulte)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomExercices)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeExercice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdresseCourriel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCategNavigation.NomCategorie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDifficulteNavigation.NiveauDifficulte)
                    </td>
                    <td>
                        @if (item.Lien != null && item.TypeExercice == "Normal")
                        {
                            <a class="btn btn-info" href="../Documents/Exercices/@item.Lien.Split('\\').Last()"><i class="fas fa-file-pdf"></i> Afficher</a>
                        }
                        else if (item.TypeExercice == "Normal" && item.Lien == null)
                        {
                            <a class="btn btn-info testing" href="#"><i class="fas fa-file-pdf iconlist"></i> Afficher<span>Lien manquant</span></a>
                        }
                        else if (item.ExercicesInt != null && item.TypeExercice == "Interactif")
                        {
                            <a class="btn btn-info" asp-action="AfficherExercice" asp-route-id="@item.Idexercice"><i class="fas fa-external-link-square-alt"></i> Afficher</a>
                        }
                        else if (item.ExercicesInt == null && item.TypeExercice == "Interactif")
                        {
                            <a class="btn btn-info testing" href="#"><i class="fas fa-external-link-square-alt"></i> Afficher<span>Lien manquant</span></a>
                        }
                        |
                        <a class="btn btn-info" style="background-color:#863e94" asp-action="ModifierExercice" asp-route-id="@item.Idexercice"><i class="fas fa-edit"></i> Modifier</a> |
                        <a class="btn btn-info" style="background-color:#e03689" asp-action="SupprimerExercice" asp-route-id="@item.Idexercice"><i class="fas fa-trash-alt"></i> Supprimer</a> |
                        
                        @if (item.Idcorrige != null)
                        {
                            var list = ViewBag.listecorriger as IEnumerable<projetmvcfinale.Models.Corrige>;
                            <a class="btn btn-info" style="background-color:#3A9D23" href="../Documents/Corrige/@list.ToList().Find(x=>x.Idexercice==item.Idexercice).Lien.Split('\\').Last()"><i class="fas fa-file-pdf"></i> Afficher le corrigé associé</a>
                        }
                        else
                        {
                            <a class="btn btn-info" style="background-color:#3A9D23" asp-action="AjouterCorrige" asp-controller="Corrige" asp-route-id="@item.Idexercice"><i class="fas fa-link"></i> Creer/Associer un corrigé</a>
                        }
                    </td>
                </tr>
            }

        </tbody>   
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="AssocierDocument">
                <div class="modal-body">

                    <partial name="_AssocierExoPdf" model="ViewBag.model" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });

            $("input[type='search']").css({ "border-radius": "10px", "border": "2px solid #17a2b8" });

        });
    </script>

}