@model IEnumerable<projetmvcfinale.Models.Exercice>

@{
    ViewData["Title"] = "ListeExercice";
}

<h2>Liste des exercices</h2>
<p>
    <a asp-action="AjoutExercice" class="btn btn-info">Ajouter un exercice</a>
</p>
    <p>
        @using (@Html.BeginForm("ListeExercice", "Exercice", FormMethod.Get))
        {
            <b>Recherche par titre:</b>

            @Html.TextBox("search")
            <input type="submit" value="Rechercher" />
        }
    </p>
    <table class="table table-responsive table-hover table-condensed">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">
                    Aucun enregistrement trouvée.
                </td>
            </tr>
        }
        else
        {
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NomExercices)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateInsertion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TypeExercice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdresseCourrielNavigation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdCateg)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdDifficulte)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdDocumentNavigation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Idcorrige)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomExercices)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateInsertion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TypeExercice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdresseCourriel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCategNavigation.NomCategorie)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdDifficulteNavigation.NiveauDifficulte)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdDocumentNavigation.AdresseCourriel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdcorrigeNavigation.CorrigeDocNom)
                            </td>
                            <td>
                                @if (item.Lien != null)
                                {
                                    <a href="../Documents/Exercices/@item.Lien.Split('\\').Last()">Afficher</a>
                                }
                                else
                                {
                                    <span style="color:grey; font-size:small ">Afficher</span>
                                }
                                |
                                <a asp-action="Edit" asp-route-id="@item.Idexercice">Modifier</a> |
                                <a asp-action="Details" asp-route-id="@item.Idexercice">Informations</a> |
                                <a asp-action="Delete" asp-route-id="@item.Idexercice">Supprimer</a> |
                                @if (item.Idcorrige == null)
                                {
                                    @*<a href="../Documents/Corrige/@Html.DisplayFor(modelItem => corrige)">Afficher le corrigé</a>*@
                                    <a asp-action="AjouterCorrige" asp-controller="Corrige">Ajouter un corrigé</a>
                                }
                            </td>
                        </tr>
                    }
                
            </tbody>
        }
    </table>
