@model projetmvcfinale.Models.InsertionExercice

@{
    ViewData["Title"] = "ModifierInteractif";
}

<h2>ModifierInteractif</h2>

<h4>InsertionExercice</h4>
<hr />
@for (int i = 0; i < Model.listeLignes.Count; i++)
{
    <div class="editrow">
        <div class="edititem">
            <div class="editor-label">
                @Html.LabelFor(m => m.listeLignes[i].NumeroQuestion)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.listeLignes[i].NumeroQuestion)
                @*@Html.ValidationMessageFor(m => m.items[i].propertyOne)*@
            </div>
        </div>
        <div class="edititem">
            <div class="editor-label">
                @Html.LabelFor(m => m.listeLignes[i].Ligne)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.listeLignes[i].Ligne)
                @*@Html.ValidationMessageFor(m => m.listeLignes[i].Ligne)*@
            </div>
        </div>
        <div class="edititem">
            <div class="editor-label">
                @Html.LabelFor(m => m.listeLignes[i].listeChoixReponses)
            </div>
            @for (int y = 0; y < Model.listeLignes[i].listeChoixReponses.Count; y++)
            {
                @Html.TextBoxFor(m => m.listeLignes[i].listeChoixReponses[y].ChoixDeReponse1)

            }
            <div class="editor-field">
                @*@Html.ValidationMessageFor(m => m.listeLignes[i].propertyThree)*@
            </div>
        </div>
    </div>
}
@*https://stackoverflow.com/questions/12696988/mvc-editing-a-list-of-objects*@