@model projetmvcfinale.Models.Exercice

@{
    ViewData["Title"] = "SupprimerExercice";
}

<h2>Supprimer un exercice</h2>

<div>
    <h4>Exercice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomExercices)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomExercices)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateInsertion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateInsertion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeExercice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeExercice)
        </dd>
    </dl>
    
    <form asp-action="SupprimerExercicePost" asp-route-id="@Model.Idexercice">       
        <input type="submit" value="Supprimer" class="btn btn-info" /> |
        <a asp-action="ListeExercice">Retour à la liste</a>
    </form>
</div>
