@model projetmvcfinale.Models.Corrige

@{
    ViewData["Title"] = "InfoCorrige";
}

<h2>Informations sur le corrigé</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CorrigeDocNom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CorrigeDocNom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lien)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateInsertion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateInsertion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Idexercice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idexercice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ModifierCorrige" asp-route-id="@Model.Idcorrige" class="btn btn-info">Modifier</a> |
    <a asp-action="ListeCorrige" class="btn btn-info">Retour à la liste</a>
</div>
