@model IEnumerable<projetmvcfinale.Models.Corrige>

@{
    ViewData["Title"] = "ListeCorrige";
}

<h1>Liste des Corrigés disponibles</h1>
<p>
    <a asp-action="AjouterCorrige" class=" btn btn-info" >Ajouter un corrigé</a>
</p>
<p>
    @using (@Html.BeginForm("ListeCorrige", "Corrige", FormMethod.Get))
    {
        <b>Recherche par titre:</b>

        @Html.TextBox("search")
        <input type="submit" value="Rechercher" />
    }
</p>
<table class="table table-responsive table-hover table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CorrigeDocNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateInsertion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdexerciceNavigation.NomExercices)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CorrigeDocNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInsertion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idexercice)
            </td>
            <td>
                @if (item.Lien != null)
                {
                    <a href="../Documents/Corrige/@item.Lien.Split('\\').Last()">Afficher</a>
                }
                else
                {
                    <span style="color:grey; font-size:small ">Afficher</span>
                }
                 |
            <a asp-action="Edit" asp-route-id="@item.Idcorrige">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Idcorrige">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Idcorrige">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
