@model IEnumerable<projetmvcfinale.Models.Corrige>

@{
    ViewData["Title"] = "ListeCorrige";
}

<h1>Liste des corrigés disponibles</h1>
<p>
    <a asp-action="AjouterCorrige" class=" btn btn-info" >Ajouter un corrigé</a>
</p>
<p>
    @using (@Html.BeginForm("ListeCorrige", "Corrige", FormMethod.Get))
    {
        <div style="float:right;">
            <b>Recherche par titre:</b>

            @Html.TextBox("search", null, new { @style = "border-radius: 10px;border:2px solid #17a2b8" })
            <input type="submit" value="Rechercher" />
        </div>
    }
</p>
<table class="table table-responsive table-hover table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CorrigeDocNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateInsertion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdexerciceNavigation.NomExercices)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CorrigeDocNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInsertion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idexercice)
            </td>
            <td>
                @if (item.Lien != null)
                {
                    <a class="btn btn-info" href="../Documents/Corrige/@item.Lien.Split('\\').Last()">Afficher</a>
                }
                else
                {
                    <a class="btn btn-info testing" href="#"><i class="fas fa-file-pdf iconlist"></i> Afficher<span>Lien manquant</span></a>
                }
                 |
            <a class="btn btn-info" style="background-color:#863e94" asp-action="ModifierCorrige" asp-route-id="@item.Idcorrige"><i class="fas fa-edit"></i> Modifier</a> |
            <a class="btn btn-info" style="background-color:#3a8bc5" asp-action="InfoCorrige" asp-route-id="@item.Idcorrige"><i class="fas fa-info-circle"></i> Informations</a> |
            <a class="btn btn-info" style="background-color:#e03689" asp-action="SupprimerCorrige" asp-route-id="@item.Idcorrige"><i class="fas fa-trash-alt"></i> Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
