
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Le Français Facile</title>

    <!-- Favicon -->
    <link rel="icon" href="~/f-logo-orange-png-19.png">


    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/style.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/style.css">
    </environment>


</head>

<body>



    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <a href="index.html" class="original-logo"><img src="~/LogoCEGEP.jpg" alt=""></a>
                        <h4 class="original-logo">Le Français Facile en Tout Point</h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nav Area -->
        <div class="original-nav-area" id="stickyNav">
            <div class="classy-nav-container breakpoint-off" style="background-color:#ed7f10;border-radius:15px 15px 15px 15px">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-center">
                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu" id="originalNav">
                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a asp-action="index" asp-controller="Home">Accueil</a></li>

                                    <li>
                                        <a href="#">Note De cours</a>
                                        <div class="megamenu">
                                            @foreach (var i in ViewBag.Categories)
                                            {
                                                <ul class="single-mega cn-col-4">
                                                    <li class="title">@i.NomCategorie</li>
                                                    @{ var listeNotes = ViewBag.Notes as IEnumerable<projetmvcfinale.Models.NoteDeCours>;
                                                        foreach (var e in listeNotes.Where(x => x.IdCateg == i.IdCateg))
                                                        {
                                                            <li><a a href="../Documents/NoteDeCours/@e.Lien.Split('\\').Last()">@e.NomNote</a></li>
                                                        }

                                                        //
                                                        //<li><a href="#">Mega Menu Item 2</a></li>
                                                        //<li><a href="#">Mega Menu Item 3</a></li>
                                                        //<li><a href="#">............</a></li>
                                                    }
                                                </ul>
                                            }
                                            @*<ul class="single-mega cn-col-4">
                                                    <li class="title">Grammaire</li>
                                                    <li><a href="#">Mega Menu Item 1</a></li>
                                                    <li><a href="#">Mega Menu Item 2</a></li>
                                                    <li><a href="#">Mega Menu Item 3</a></li>
                                                    <li><a href="#">............</a></li>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <li class="title">Structure de phrase</li>
                                                    <li><a href="#">Structure de la phrase de base</a></li>
                                                    <li><a href="#">Juxtaposition et coordination (énumération)</a></li>
                                                    <li><a href="#">Intégration des citations</a></li>
                                                    <li><a href="#">............</a></li>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <li class="title">Conjuguaison</li>
                                                    <li><a href="#">Accord du verbe/Conjugaison</a></li>
                                                    <li><a href="#">Accord du participe passé</a></li>
                                                    <li><a href="#">Choix du temps et du mode des verbes</a></li>
                                                    <li><a href="#">............</a></li>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <li class="title">Orthographe</li>
                                                    <li><a href="#">Homophones</a></li>
                                                    <li><a href="#">Accord du nom, de l’adjectif ...</a></li>
                                                    <li><a href="#">Choix du singulier ou du pluriel</a></li>
                                                    <li><a href="#">............</a></li>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <li class="title">Ponctuation</li>
                                                    <li><a href="#">Utilisation de la virgule</a></li>
                                                    <li><a href="#">Utilisation de la virgule avec « qui »</a></li>
                                                    <li><a href="#">Mega Menu Item 3</a></li>
                                                    <li><a href="#">............</a></li>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <li class="title">Vocabulaire</li>
                                                    <li><a href="#">Mega Menu Item 1</a></li>
                                                    <li><a href="#">Mega Menu Item 2</a></li>
                                                    <li><a href="#">Mega Menu Item 3</a></li>
                                                    <li><a href="#">............</a></li>
                                                </ul>*@
                                        </div>
                                    </li>


                                    <li>
                                        <a href="#">Exercice</a>
                                        <ul class="dropdown">
                                            @foreach (var i in ViewBag.Categories)
                                            {
                                                <li>
                                                    <a href="#">@i.NomCategorie</a>
                                                    <ul class="dropdown">
                                                        <li>
                                                            <a href="#">Exercices Intéractif</a>
                                                            <ul class="dropdown">
                                                                <li><a href="#">Facile</a></li>
                                                                <li><a href="#">Moyen</a></li>
                                                                <li><a href="#">Dur</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="#">Exercices Pdf</a>
                                                            <ul class="dropdown">
                                                                <li>@Html.ActionLink("Exercice", "ListeExercice", new { @class = "elements" }, null)</li>
                                                                <li><a href="#">Moyen</a></li>
                                                                <li><a href="#">Dur</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    @if (this.User.IsInRole("Admin"))
                                    {
                                        <li>
                                            <a href="#">Administrateur</a>
                                            <ul class="dropdown" style="width:300px;">
                                                <li><a asp-action="ListeNoteDeCours" asp-controller="NoteDeCours">Gestion des documents</a></li>
                                                <li><a href="about-us.html">Gestion des membres</a></li>
                                                <li><a asp-action="ListeExercice" asp-controller="Exercice">Gestion des exercices</a></li>
                                            </ul>
                                        </li>
                                    }

                                </ul>
                                <div class="classynav">
                                    @await Html.PartialAsync("_LoginPartial")
                                </div>
                                <!-- Search Form  -->
                                <div id="search-wrapper">
                                    <form action="#">
                                        <input type="text" id="search" placeholder="Search something...">
                                        <div id="close-icon"></div>
                                        <input class="d-none" type="submit" value="">
                                    </form>
                                </div>


                            </div>
                            <!-- Nav End -->
                        </div>


                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <div class="container body-content" style=" overflow-x: auto;white-space: nowrap;height:100%">
        @RenderBody()
        <hr />
    </div>


    <!-- ##### Instagram Feed Area End ##### -->
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Footer Social Area -->
                    <div class="footer-social-area ">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

    </footer>
    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!-- ##### Footer Area End ##### -->
        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script src="~/js/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="~/js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="~/js/bootstrap.min.js"></script>
        <!-- Plugins js -->
        <script src="~/js/plugins.js"></script>
        <!-- Active js -->
        <script src="~/js/active.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!-- ##### Footer Area End ##### -->
        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script src="~/js/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="~/js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="~/js/bootstrap.min.js"></script>
        <!-- Plugins js -->
        <script src="~/js/plugins.js"></script>
        <!-- Active js -->
        <script src="~/js/active.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>

</html>
