@model IEnumerable<projetmvcfinale.Models.SousCategorieViewModel>


    <div class="top-buffer"></div>
    <div class="panel panel-primary">
        <div class="panel-heading panel-head">Gestion des sous-catégorie</div>
        <div class="panel-body">
            <div class="btn-group">
                <a id="btnCreerSousCategorie" href="#" class="btn btn-primary">
                    <i class="glyphicon glyphicon-plus"></i>  Ajouter une sous-catégorie
                </a>
            </div>
            <div class="top-buffer"></div>
            <table id="listeSousCategorie" class="table table-bordered table-striped table-condensed">
                <!--Ajout ici-->
                <thead>
                    <tr>
                        <th>Identifiant de la sous-catérogie</th>
                        <th>Nom de la sous-catégorie</th>
                        <th>Catégorie associée</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr id="@item.IdSousCategorie">
                        <!--Ajout ici-->
                        <td>@item.IdSousCategorie</td>
                        <td>@item.NomSousCategorie</td>
                        <td>@item.NomCategorie</td>
                        <td>
                            <a class="btn btn-danger" onclick='ValiderSupprimerSousCategorie(@item.IdSousCategorie)'>
                                <i class="glyphicon glyphicon-trash"></i>  Supprimer
                            </a>
                            <a class="btn btn-primary" onclick='afficherModificationSousCategorie("@item.IdSousCategorie")'>
                                <i class="glyphicon glyphicon-trash"></i>  Modifier
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="ModalSupprimerSousCategorie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="phraseAvertissement2"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="AnnulerSupprimer()" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" onclick="supprimerSousCategorieAjax()">Supprimer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="ModalAjouterSousCategorie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter une sous-catégorie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Nom de la sous-catégorie</label>
                    <input id="NomSousCategorie" />
                    <br />
                    <label>Catégorie associée</label>
                    <select id="CategorieAssociee">
                        @foreach (var item in ViewBag.SelectCategorie){
                        <option value="@item.IdCateg">@item.NomCategorie</option>
                    }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="CreerSousCategorieAjax()" data-dismiss="modal">Ajouter cette catégorie</button>
                    <button type="button" class="btn btn-primary" onclick="AnnulerAjouterSousCategorie()">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="ModalModifierSousCategorie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier une sous-catégorie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Nom de sous-catégorie</label>
                    <input id="NomSousCategorieModif" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="SoumettreModificationSousCategorie()" data-dismiss="modal">Modifier cette catégorie</button>
                    <button type="button" class="btn btn-primary" onclick="AnnulerModifierSousCategorie()">Annuler</button>
                </div>
            </div>
        </div>
    </div>
