@model IEnumerable<projetmvcfinale.Models.NoteDeCours>

@{
    ViewData["Title"] = "Index";
}

<h1>List des notes de cours disponibles</h1>

<p>
    <a asp-action="AjouterNote" class="btn btn-info">Ajouter des notes de cours</a>
</p>
<p>
    @using (@Html.BeginForm("ListeNoteDeCours", "NoteDeCours", FormMethod.Get))
    {
        <b>Recherche par Titre:</b>

        @Html.TextBox("search")
        <input type="submit" value="Rechercher" />
    }
</p>
<table class="table">
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4">
                Aucun enregistrement trouvée.
            </td>
        </tr>
    }
    else
    {
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomNote)
                </th>                             
                <th>
                    @Html.DisplayNameFor(model => model.AdresseCourrielNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdCategNavigation.NomCategorie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdSousCategorieNavigation.NomSousCategorie)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomNote)
                    </td>                                     
                    <td>
                        @Html.DisplayFor(modelItem => item.AdresseCourrielNavigation.AdresseCourriel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCategNavigation.NomCategorie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdSousCategorieNavigation.NomSousCategorie)
                    </td>
                    <td>
                        @if (item.Lien != null)
                        {
                            <a class="btn btn-info" href="../Documents/NoteDeCours/@item.Lien.Split('\\').Last()"><i class="fas fa-file-pdf"></i> Afficher</a>
                        }
                        else
                        {
                            <a class="btn btn-info testing" href="#"><i class="fas fa-file-pdf"></i>Afficher<span>Lien manquant</span></a>
                        }
                        |
                        <a class="btn btn-info" style="background-color:#863e94" asp-action="ModifierNote" asp-route-id="@item.IdDocument"><i class="fas fa-edit"></i> Modifier</a> |
                        <a class="btn btn-info" style="background-color:#e03689" asp-action="SupprimerNote" asp-route-id="@item.IdDocument"><i class="fas fa-trash-alt"></i> Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    </table>
