@model projetmvcfinale.Models.NotesViewModel

@{
    ViewData["Title"] = "SupprimerNote";
}

<h2>Supprimer un énoncé de note</h2>

<div>
    <h4>NotesViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomNote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCateg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCateg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SousCategorie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SousCategorie)
        </dd>
    </dl>
    
    <form asp-action="SupprimerNote">
        <input type="submit" value="Supprimer" class="btn btn-info" /> |
        <a asp-action="ListeNoteDeCours" class="btn btn-info">Annuler</a>
    </form>
</div>
